<body
    style="padding:0;margin:0;box-sizing:border-box;font-weight:700;font-family:Noto Sans SC,Noto Sans TC,Noto Sans JP,Noto Sans KR,Noto Sans;background-color: #35205D;">
    <div style="padding: 2rem;max-width: 800px;margin: 0 auto;">
        <div style="text-align: center;margin: 12px 0;color: #ff42ad;font-size: 1rem;">
            爱来自 {{ company_name }}
        </div>
        <div style="width: 90%;margin: 0 auto;">
            <img src="https://cdn-surrounding.peropero.net/650d2765e98f9f0ff25a8bde48c8b9c9_1729736687.png"
                style="width: 100%;" alt="">
        </div>

        <div style="color: #9a56ee;margin: 1rem;">
            <div style="font-size: 1.5rem;text-align: center;">{{ active_title }}</div>
            <div style="width: fit-content;margin-left: auto;margin-right: 1rem;">{{ active_time }}</div>
            <div style="margin: 1.37rem 0.6rem;font-size: 0.75rem;line-height: 1rem;">
                <p>听说博丽灵梦订购了一台机械舞伶玛莉嘉，把扫地机器猫留下把</p>
                <p>玛莉嘉退回去了，有人问是真的吗，我们在此澄清一下：是真的。</p><br>
                <p>◆ 东方Project 联动曲包<span style="color:#FD3CFFFF">「东方暮乐团 -肆-」</span>更新，收录 6 首新曲，解锁可额外获得 2 张联动插图！</p><br>
                <p>◆ 联动曲「Necromantic - 暁 Records」加入「MD 补完计</p>
                <p>划」， ＤＯＫＩＤＯＫＩ♡ ＷＡＫＵＷＡＫＵ</p><br>
                <p>◆ 所有联动曲均可开启弹幕模式，什么音游，我们打的不是东方吗 ( ﾟдﾟ)</p><br>
                <p>◆ 「最終鬼畜妹フランドール・Ｓ」自带里谱，疯狂连击难度按钮解锁，世上还是鬼畜多啊（大误解）</p><br>
                <p>◆ 一张联动插图、一张万圣节贺图 12 月 1 日前上线即可领取，之后加入碎片掉落！</p>
            </div>
        </div>
    </div>
</body>